

<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">You do not have the permission</h6>
    <img src="~/image/AccessDenied.jpg" style="height:300px;width:300px" />
</div>